<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--title fragment(title Parameter)-->
<title class="_______" th:fragment="titlefragment(titleFragmentParameter)" th:text="${titleFragmentParameter}"></title>


<!--nav fragment(nav Fragment Parameter)-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:fragment="navFragment(navFragmentParameter)">
    <div class="container-fluid">
        <a class="nav-link" aria-current="page" th:href="@{/pages/home}">administrator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarColl apse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"  >
                    <a class="nav-link "  href="/pages/home"   th:classappend="${navFragmentParameter} == 'home'? 'active'" >홈</a>
                </li>
                <li class="nav-item"  >
                    <a class="nav-link "  href="/pages/boards"  th:classappend="${navFragmentParameter} == 'boards'? 'active'" >게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">TBD</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">______5</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>