<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta charset="utf-8">
    <meta lang="ko">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="이 웹은 나의 중요한 프로그래밍 도구입니다.">
    <meta name="author" content="대한민국 박정훈 1994년 4월 생">
    <meta name="foo_name" content="foo_content">
    <title th:replace="/viewers/common/fragments/title tag fragment :: mkr_fragment('wiki_segments')">foo</title>
</head>
<body class="_______">
foo
</body>
</html>